/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
.thumbnail{
	height: 360px;
	text-align: center;
}
.thumbnail img{
	height: 230px;
}
